<section id="assignment">
    <h2>Assignment</h2>
    <input type="text">
    <button>Add Task</button>
    <ul>
        {{#each tasks}}
        <li>{{this.title}} | {{ pretty-date this.createDate }}</li>
        {{/each}}
    </ul>
</section>