<section id="assignment">
<form method="POST" action="/task/{{task.id}}?_method=PUT">
    <div class="edit">
        <h2>Edit task</h2>
        <ul>
            <li>
                <input type="text" name="title" value="{{task.title}}">
            </li>
            <li>
                <input type="date" name="createDate" value="{{task.createDate}}">
            </li>
        </ul>
        <button type="submit">Save</button>
    </div>
    <p>
        {{> back-to-all-list }}
    </p>
</form>
</section>